.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.medium{
    font-weight: 500;
    margin-bottom: 16px;
}
.semi-bold{
    font-weight: 600;
    margin-bottom: 16px;
}
.bold {
    font-weight: bold;
}

.text-48{
    font-size: 48px;
    margin-bottom: 16px;
}

.card-info-color{
    color: #627382;
    line-height: 25px;
    margin-bottom: 16px;
}

.btn{
    padding: 12px 16px;
    color: #FAFAFA;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.card-image-bg{
    margin-bottom: 16px;
    padding: 12px 12px;
    border-radius: 50%;
    background-color: #F95555;
}




/* navbar related styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

nav ul{
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}


/* hero section related styles */

.hero-section{
    padding-top: 154px;
    padding-bottom: 179px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 80px;
}

.hero-container{
    text-align: center;
}


.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.first-hero-btn{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: #30B868;
    background-color: #FAFAFA;
    padding: 8px 12px;
    border-radius: 25px;
}

.first-hero-btn img{
    width: 20px;
}

.hero-title{
    margin-bottom: 16px;
    font-size: 72px;
    color: #FAFAFA;
}

.hero-half{
    color: #30B868;
}

.hero-description{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #FAFAFA;
}

.two-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;;
}

.play-btn{
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    padding: 5.8px 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    cursor: pointer;
}


/* notes section related styles */

.notes-section{
    margin-bottom: 80px;
}

.notes-title-part{
    text-align: center;
    margin-bottom: 50px;
}


.card{
    width: 322px;
    height: 200px;
    padding: 50px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.09);
}

.notes-card-title{
    font-size: 24px;
}


.notes-cards-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}


/* second brain section related styles */
.second-brain-section{
    margin-bottom: 100px;
}

.second-brain-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.text-solution{
    text-transform: uppercase;
    color: #30B868;
}

.tik-mark{
    margin-top: 40px;
}

.display-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6px;
}

/* ready to think container */

.ready-to-think-container{
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 12px;
    background-color: #F7F6F2;
    text-align: center;
    margin-bottom: 120px;
}

.free-during{
    margin-top: 16px;
}

/* footer section related styles */

.footer-section{
    background: var(--Style, rgba(0, 25, 49, 1));
}

.footer-flex-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    margin-bottom: 100px;
}

.social{
    font-size: 20px;
    color: #FAFAFA;
}

.footer-image{
    gap: 16px;
}

.footer-image img{
    padding: 2px;
    background-color: #FAFAFA;
    border-radius: 50%;
    cursor: pointer;
}

.footer-section hr{
    margin-bottom: 30px;
    opacity: 0.2;
    
}

.copyright-text{
    text-align: center;
    padding-bottom: 30px;
    color: #FAFAFA;
}