.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.medium{
    font-weight: 500;
}
.semi-bold{
    font-weight: 600;
}
.bold {
    font-weight: bold;
}

.text-48{
    font-size: 48px;
}

.btn{
    padding: 12px 16px;
    color: #FAFAFA;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}



/* navbar related styles */
.nav-container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

nav ul{
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}


/* hero section related styles */

.hero-section{
    padding-top: 154px;
    padding-bottom: 179px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 80px;
}

.hero-container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}


.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.first-hero-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    background-color: #FAFAFA;
    padding: 8px 12px;
    border-radius: 25px;
}

.first-hero-btn img{
    width: 20px;
}

.hero-title{
    margin-bottom: 16px;
    font-size: 72px;
    color: #FAFAFA;
}

.hero-half{
    color: #30B868;
}

.hero-description{
    margin-bottom: 30px;
    font-size: 18px;
    color: #FAFAFA;
}

.two-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;;
}

.play-btn{
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    padding: 5.8px 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    cursor: pointer;
}
